<!doctype html>
<html lang="es">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Inicio - CodeCharts</title>
</head>

<body style="background: #eff6ff">
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom border-secondary" id="navbarLanding">
        <a class="navbar-brand" href="/">
            <img src="/assets/logo.png" width="25" height="25" class="d-inline-block align-top" alt="logo"> CodeCharts
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <%= link_to "Iniciar sesión", new_teacher_session_path, class:"btn btn-success" %>
            </form>
    </nav>

    <%= render 'layouts/messages' %>

        <div class="jumbotron text-center" style="background: #D8E8FF">
            <div class="container">
                <h1 class="display-3">CodeCharts</h1>
                <p class="lead">Crea cursos o talleres de manera sencilla.</p>
                <p class="lead">Observa los resultados.</p>
                <p class="lead">Comprueba en tiempo real el progreso de los alumnos.</p>
                <p>
                    <%= link_to "Empezar", new_teacher_registration_path, class:"btn btn-primary"%>
                </p>
            </div>
        </div>

        <div class="container">
            <div class="row text-center">
                <div class="col-md-4">
                    <i class="fas fa-chalkboard-teacher fa-2x"></i>
                    <h2 class="font-weight-strong">Profesores</h2>
                    <p class="lead">Los profesores tendrán la posibilidad de crear cursos adaptados para diferentes edades, 
                    fomentando así el aprendizaje del pensamiento computacional. </p>
                </div>
                <div class="col-md-4">
                    <i class="fas fa-graduation-cap fa-2x"></i>
                    <h2 class="font-weight-strong">Alumnos</h2>
                    <p class="lead">Los alumnos tendrán un rol meramente representativo en la plataforma, puesto que la finalidad
                    es mostrar su progreso en los diferentes cursos.</p>
                </div>
                <div class="col-md-4">
                    <i class="fas fa-chart-line fa-2x"></i>
                    <h2 class="font-weight-strong">Estadísticas</h2>
                    <p class="lead">Gráficamente, los tutores tendrán la posibilidad de comprobar en qué medida los cursos impartidos
                    están siendo útiles para los alumnos.</p>

                </div>
            </div>
        </div>
        </div>
</body>

</html>