<!doctype html>
<html lang="es">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>CodeCharts</title>
</head>

<body>
    <div class="container">
        <% @courses.each do |course| %>
            <div class="card text-center coursesTeachers">
                <div class="card-header">
                    Featured
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        <%= course.title %>
                    </h5>
                    <p class="card-text">
                        <%= course.body %>
                    </p>
                    <a href="#" class="btn btn-primary">Administrar alumnos</a>
                </div>
                <div class="card-footer text-muted">
                    2 days ago
                </div>
            </div>
            <h1>
            </h1>
            <h2>
            </h2>
            <%end%>
    </div>
</body>

</html>