<footer class="footer">
    <div class="container">
        <span class="text-muted">@ Copyright 2018 | Samuel Valcárcel Arce
            <a href="https://twitter.com/_cosaca"><i class="fab fa-twitter fa-lg" id="iconoTwitter"></i></a>
            <a href="https://linkedin.com/in/samuvalcarcel"><i class="fab fa-linkedin fa-lg" id="iconoLinkedin"></i></a>
            <a href="https://github.com/Cosaca"><i class="fab fa-github fa-lg" id="iconoGithub"></i></a>
        </span>
    </div>
</footer>